*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f6f9ff;
    color:#222;
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:rgba(255,255,255,.85);
    backdrop-filter:blur(12px);

    box-shadow:0 4px 20px rgba(0,0,0,.08);

    z-index:1000;
}

.logo{
    font-size:24px;
    font-weight:700;
    color:#2563eb;
}

.navbar ul{
    display:flex;
    gap:25px;
    list-style:none;
}

.navbar a{
    text-decoration:none;
    color:#333;
    font-weight:500;
}

#themeBtn{
    border:none;
    background:white;
    padding:10px 15px;
    border-radius:12px;
    cursor:pointer;
}

.hero{
    height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    background:linear-gradient(
        135deg,
        #2563eb,
        #60a5fa
    );

    color:white;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
}

.start-btn{
    margin-top:30px;
    padding:15px 35px;

    border:none;
    border-radius:50px;

    font-size:18px;
    font-weight:600;

    cursor:pointer;

    background:white;
    color:#2563eb;

    transition:.3s;
}

.start-btn:hover{
    transform:translateY(-3px);
}

section{
    padding:100px 10%;
}

h2{
    font-size:38px;
    margin-bottom:30px;
}

.card{
    background:white;

    padding:35px;

    border-radius:20px;

    max-width:550px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);
}

.card h3{
    font-size:42px;
    color:#2563eb;
    margin-bottom:15px;
}

.card p{
    font-size:20px;
}

.card button{
    margin-top:20px;

    border:none;

    background:#2563eb;
    color:white;

    padding:12px 24px;

    border-radius:12px;

    cursor:pointer;
}

.stats-container{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.stat-card{
    flex:1;
    min-width:220px;

    background:white;

    padding:30px;

    border-radius:20px;

    text-align:center;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);
}

.stat-card h3{
    font-size:42px;
    color:#2563eb;
}

footer{
    text-align:center;
    padding:40px;
    color:#666;
}

.dark{
    background:#0f172a;
    color:white;
}

.dark .navbar{
    background:rgba(15,23,42,.9);
}

.dark .card,
.dark .stat-card{
    background:#1e293b;
    color:white;
}

.dark footer{
    color:#cbd5e1;
}

@media(max-width:768px){

    .hero h1{
        font-size:40px;
    }

    .hero p{
        font-size:18px;
    }

    .navbar{
        padding:15px 5%;
    }

    .navbar ul{
        gap:12px;
    }

    .stats-container{
        flex-direction:column;
    }

}
